<div id="logo">
  <div style="margin-top:70px" class="whitetitle">Angular Lab</div>
</div>
<div id="topheader">
  <div align="left" class="bodytext">
    <br />
    <strong>Moamen Fares</strong><br />
    45 Street<br />
    Phone: 01144732090<br />
    momenfares43@gmail.com
  </div>
  <div id="toplinks" class="smallgraytext">
    <a [routerLink]="['/home']" > Home </a> |
    <a [routerLink]="['/about']">About-Us</a> |
    <a routerLink="/students">ٍStudents</a> |
    <a [routerLink]="['/departments']">Departments</a> |
    <a [routerLink]="['/departments/add']">Add Department</a> |
    <a [routerLink]="['/departments/details']">Details</a> |
    <!-- <a [routerLink]="['/about']">About-Us</a> | -->

  </div>
  <div id="menu">
    <!-- <div align="right" class="smallwhitetext" style="padding:9px;">
      <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a>
    </div> -->
  </div>
  <div id="submenu">
    <div align="right" class="smallgraytext" style="padding:9px;">
      <a [routerLink]="['/home']" > Home </a> |
       <a [routerLink]="['/about']">About Us</a> |
       <a routerLink="/students">ٍStudents</a> |
       <a [routerLink]="['/departments']">Departments</a> |
       <a [routerLink]="['/departments/add']">Add Department</a> |
        <!-- <a href="#">Submenu 3</a> |
        <a href="#">Submenu 4</a> |
         <a href="#">Submenu 5</a> |
          <a href="#">Submenu 6</a> -->
    </div>
  </div>
  <div id="contenttext">
    <div style="padding:10px">
      <span class="titletext">Welcome to RedTie!</span>

  </div>
